<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>데이터 넘기기 확인</title>
</head>
<body>
	<form action="/insertMock">
		<input type="hidden" name="insertCount" id="insertCount" value="4000"/>
		<button type="submit">4000개</button>
	</form>
	<form action="/insertMock">
		<input type="hidden" name="insertCount" id="insertCount" value="8000"/>
		<button type="submit">8000개</button>
	</form>
	<form action="/insertMock">
		<input type="hidden" name="insertCount" id="insertCount" value="20000"/>	
		<button type="submit">20000개</button>
	</form>
	<form action="/insertMock">
		<input type="hidden" name="insertCount" id="insertCount" value="40000"/>
		<button type="submit">40000개</button>
	</form>
	<form action="/insertMock">
		<input type="hidden" name="insertCount" id="insertCount" value="80000"/>
		<button type="submit">80000개</button>
	</form>
</body>
<script type="text/javascript">
// 	alert("됐습니다");
</script>
</html>